/* CSS-based Image Maps
   Author: Frank Manno
   Version: Nov. 25, 2004
----------------------------------------------- */

/* ---------- hidden ONLY if CSS is enabled.  If disabled, image is rendered ---------- */
img.image{ display: none; z-layer: 0;}

/* debug */
xdd a{ border: 1px solid red; } 

a:link.ilink {
	background: none;
	color: #fff;
}
a:visited.ilink {
	background: none;
	color: #ddd;
}
a:hover.ilink,
a:focus.ilink,
a:active.ilink {
	background: none;
	color: white;
}

dl#worldMap{
	margin: 0 auto;
	padding: 0;
	background: transparent url(../graphics/maps/world.png) top left no-repeat;
	height: 400px;
	width: 760px;
	position: relative;
 z-index: 0;
}

dt{ margin: 0; padding: 0; position: absolute; font-size: 85%; display: none; }
dd{ margin: 0; padding: 0; position: absolute;  font-size: 85%;}

dd a:hover span { border: 0px solid #999; width: 500px; background-color: #444; color: white; }

dd a span img { display: block; border-width: 0 5px 0 0; border-right: 5px solid #444; float: left; }

dd#canadausaDef{ top: 70px; left: 100px;  }
dd#canadausaDef a{ position: absolute; width: 100px; height: 40px; text-decoration: none; }
dd#canadausaDef a span{ display: none;}
dd#canadausaDef a:hover{ position: absolute;  top: 0px; left: 0px; }
dd#canadausaDef a:hover span{
  
  overflow: auto;
  z-index: 100;
  display: block;
  vertical-align: top;
  position: absolute;
  left: 100px;
  top: -70px;
  margin: 5px;
  padding: 5px;
}

dd#alaskaDef{ top: 30px; left: 50px;  }
dd#alaskaDef a{ position: absolute; width: 60px; height: 40px; text-decoration: none; }
dd#alaskaDef a span{ display: none;}
dd#alaskaDef a:hover{ position: absolute;  top: 0px; left: 0px; }
dd#alaskaDef a:hover span{
  
  overflow: auto;
  z-index: 100;
  display: block;
  vertical-align: top;
  position: absolute;
  left: 50px;
  top: -30px;
  margin: 5px;
  padding: 5px;
}

dd#moroccoDef{ top: 95px; left: 210px;  }
dd#moroccoDef a{ position: absolute; width: 78px; height: 40px; text-decoration: none;}
dd#moroccoDef a span{ display: none; }
dd#moroccoDef a:hover{ position: absolute;  top: 0px; left: 0px; }
dd#moroccoDef a:hover span{
  overflow: auto;
  z-index: 101;
  display: block;
  vertical-align: top;
  position: absolute;
  top: 40px;
  left: -210px;
  margin: 0;
  padding: 5px;
}


dd#ridgewayDef{ top: 46px; left: 310px;  }
dd#ridgewayDef a{ position: absolute; width: 82px; height: 44px; text-decoration: none; z-index: 50;}
dd#ridgewayDef a span{ display: none; }
dd#ridgewayDef a:hover{ position: absolute;  top: 0px; left: 0px; }
dd#ridgewayDef a:hover span{
 overflow: auto;
  z-index: 101;
  display: block;
  vertical-align: top;
  position: absolute;
  margin: 0;
  padding: 5px;
  top: 0px;
  left: -310px;
  width: 290px;
}

dd#omanDef{ top: 164px; left: 420px;  }
dd#omanDef a{ position: absolute; width: 58px; height: 40px; text-decoration: none;}
dd#omanDef a span{ display: none; }
dd#omanDef a:hover{ position: absolute;  top: 0px; left: 0px; }
dd#omanDef a:hover span{
 overflow: auto;
  z-index: 101;
  display: block;
  vertical-align: top;
  position: absolute;
  margin: 0;
  padding: 5px;
  top: 0px;
  left: -410px;
  width: 400px;
}

dd#australiaDef{ top: 255px; left: 485px;  }
dd#australiaDef a{ position: absolute; width: 78px; height: 40px; text-decoration: none;}
dd#australiaDef a span{ display: none; }
dd#australiaDef a:hover{ position: absolute;  top: 0px; left: 0px; }
dd#australiaDef a:hover span{
 overflow: auto;
  z-index: 101;
  display: block;
  vertical-align: top;
  position: absolute;
  margin: 0;
  padding: 5px;
  top: -265px;
  left: -410px;
}

dd#japanDef{ top: 85px; left: 615px;  }
dd#japanDef a{ position: absolute; width: 60px; height: 44px; text-decoration: none;}
dd#japanDef a span{ display: none; }
dd#japanDef a:hover{ position: absolute;  top: 0px; left: 0px; }
dd#japanDef a:hover span{  
 overflow: auto;
  z-index: 101;
  display: block;
  vertical-align: top;
  position: absolute;
  margin: 0;
  padding: 5px;
  top: -20px;
  left: -410px;
  width: 400px;
}


span.mapData { background-image: url(../graphics/flag.png);
  background-position: center center;
  background-repeat:  no-repeat;
  background-color: white;
}

div#introPara  { background-image: url(../graphics/flag.png);
  background-position: center center;
  background-repeat:  no-repeat;
  background-color: white;
position: absolute;
 top: 100px;
 left: 200px;
 border: 2px solid #feb7b7;
 width: 250px;
z-index: 1;
padding: 0 1em 0 1em;
}
